USE [MED]
GO
/****** Object:  Table [dbo].[Condicion]    Script Date: 27/6/2025 15:37:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Condicion](
	[ID_Condicion] [varchar](15) NOT NULL,
	[Descripcion] [varchar](1000) NULL,
 CONSTRAINT [PK_Condicion] PRIMARY KEY CLUSTERED 
(
	[ID_Condicion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Droga]    Script Date: 27/6/2025 15:37:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Droga](
	[ID_Droga] [varchar](50) NOT NULL,
	[Descripcion] [varchar](1000) NULL,
 CONSTRAINT [PK_Droga] PRIMARY KEY CLUSTERED 
(
	[ID_Droga] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Droga_Condicion]    Script Date: 27/6/2025 15:37:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Droga_Condicion](
	[ID_Droga] [varchar](50) NOT NULL,
	[ID_Condicion] [varchar](50) NOT NULL,
	[Estado] [varchar](2) NULL,
 CONSTRAINT [PK_Droga_Condicion] PRIMARY KEY CLUSTERED 
(
	[ID_Droga] ASC,
	[ID_Condicion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Droga_Medicamento]    Script Date: 27/6/2025 15:37:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Droga_Medicamento](
	[ID_Droga] [varchar](50) NOT NULL,
	[ID_Medicamento] [varchar](50) NOT NULL,
	[Estado] [varchar](2) NULL,
 CONSTRAINT [PK_Droga_Medicamento] PRIMARY KEY CLUSTERED 
(
	[ID_Droga] ASC,
	[ID_Medicamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Farmaceutico]    Script Date: 27/6/2025 15:37:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Farmaceutico](
	[Matricula] [varchar](20) NOT NULL,
	[Nombre] [varchar](100) NULL,
	[Apellido] [varchar](100) NULL,
	[ID_Farmacia] [varchar](50) NULL,
	[ID_Usuario] [varchar](30) NULL,
 CONSTRAINT [PK_Farmaceutico] PRIMARY KEY CLUSTERED 
(
	[Matricula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Farmacia]    Script Date: 27/6/2025 15:37:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Farmacia](
	[ID_Farmacia] [varchar](50) NOT NULL,
	[Nombre] [varchar](200) NOT NULL,
	[CUIT] [decimal](15, 0) NULL,
	[Direccion] [varchar](5000) NULL,
 CONSTRAINT [PK_Farmacia] PRIMARY KEY CLUSTERED 
(
	[ID_Farmacia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicamento]    Script Date: 27/6/2025 15:37:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicamento](
	[ID_Medicamento] [varchar](50) NOT NULL,
	[Descripcion] [varchar](1000) NULL,
	[Laboratorio] [varchar](50) NULL,
	[Presentacion] [varchar](1000) NULL,
 CONSTRAINT [PK_Medicamento] PRIMARY KEY CLUSTERED 
(
	[ID_Medicamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicamento_Condicion]    Script Date: 27/6/2025 15:37:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicamento_Condicion](
	[ID_Medicamento] [varchar](50) NOT NULL,
	[ID_Condicion] [varchar](15) NOT NULL,
	[Estado] [varchar](2) NULL,
 CONSTRAINT [PK_Medicamento_Condicion] PRIMARY KEY CLUSTERED 
(
	[ID_Medicamento] ASC,
	[ID_Condicion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medico]    Script Date: 27/6/2025 15:37:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medico](
	[Matricula] [varchar](20) NOT NULL,
	[Nombre] [varchar](100) NULL,
	[Apellido] [varchar](100) NULL,
	[Especialidad] [varchar](500) NULL,
	[ID_Usuario] [varchar](30) NOT NULL,
 CONSTRAINT [PK_Medico] PRIMARY KEY CLUSTERED 
(
	[Matricula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paciente]    Script Date: 27/6/2025 15:37:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paciente](
	[ID_GrupoSocio] [decimal](18, 0) NOT NULL,
	[ID_Socio] [decimal](2, 0) NOT NULL,
	[Nombre] [varchar](100) NULL,
	[Apellido] [varchar](100) NULL,
	[FechaNacimiento] [date] NULL,
	[FechaIngreso] [date] NULL,
	[Telefono] [varchar](50) NULL,
	[Mail] [varchar](500) NULL,
	[ID_Usuario] [varchar](30) NOT NULL,
 CONSTRAINT [PK_Paciente] PRIMARY KEY CLUSTERED 
(
	[ID_GrupoSocio] ASC,
	[ID_Socio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paciente_Condicion]    Script Date: 27/6/2025 15:37:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paciente_Condicion](
	[ID_GrupoSocio] [decimal](18, 0) NOT NULL,
	[ID_Socio] [decimal](2, 0) NOT NULL,
	[ID_Condicion] [varchar](15) NOT NULL,
	[Estado] [varchar](2) NULL,
	[FechaDesde] [date] NULL,
	[FechaHasta] [date] NULL,
	[Observaciones] [varchar](8000) NULL,
 CONSTRAINT [PK_Paciente_Condicion] PRIMARY KEY CLUSTERED 
(
	[ID_GrupoSocio] ASC,
	[ID_Socio] ASC,
	[ID_Condicion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paciente_Droga]    Script Date: 27/6/2025 15:37:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paciente_Droga](
	[ID_GrupoSocio] [decimal](18, 0) NOT NULL,
	[ID_Socio] [decimal](2, 0) NOT NULL,
	[ID_Droga] [varchar](50) NOT NULL,
	[Estado] [varchar](2) NULL,
	[FechaDesde] [date] NULL,
	[FechaHasta] [date] NULL,
	[Observaciones] [varchar](8000) NULL,
 CONSTRAINT [PK_Paciente_Droga] PRIMARY KEY CLUSTERED 
(
	[ID_GrupoSocio] ASC,
	[ID_Socio] ASC,
	[ID_Droga] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paciente_Medicamento]    Script Date: 27/6/2025 15:37:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paciente_Medicamento](
	[ID_GrupoSocio] [decimal](18, 0) NOT NULL,
	[ID_Socio] [decimal](2, 0) NOT NULL,
	[ID_Droga] [varchar](50) NOT NULL,
	[ID_Medicamento] [varchar](50) NOT NULL,
	[FechaDesde] [date] NOT NULL,
	[FechaHasta] [date] NOT NULL,
	[Estado] [varchar](2) NULL,
	[FechaVencimiento] [date] NULL,
	[Cantidad] [decimal](18, 0) NULL,
 CONSTRAINT [PK_Paciente_Medicamento] PRIMARY KEY CLUSTERED 
(
	[ID_GrupoSocio] ASC,
	[ID_Socio] ASC,
	[ID_Droga] ASC,
	[ID_Medicamento] ASC,
	[FechaDesde] ASC,
	[FechaHasta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 27/6/2025 15:37:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[ID_Usuario] [varchar](30) NOT NULL,
	[Password] [varchar](1000) NOT NULL,
	[Tipo_Usuario] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[ID_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Condicion] ([ID_Condicion], [Descripcion]) VALUES (N'B12', N'Deficiencia de B12')
INSERT [dbo].[Condicion] ([ID_Condicion], [Descripcion]) VALUES (N'CARGRAL', N'Cardiopatia General')
INSERT [dbo].[Condicion] ([ID_Condicion], [Descripcion]) VALUES (N'HIPOTIRO', N'Hipotiroidismo')
GO
INSERT [dbo].[Droga] ([ID_Droga], [Descripcion]) VALUES (N'COLECALCIFEROL', N'Colecalciferol')
INSERT [dbo].[Droga] ([ID_Droga], [Descripcion]) VALUES (N'IBUPROFENO', N'Ibuprofeno')
INSERT [dbo].[Droga] ([ID_Droga], [Descripcion]) VALUES (N'LEVOTIROXINA', N'Levotiroxina')
GO
INSERT [dbo].[Droga_Condicion] ([ID_Droga], [ID_Condicion], [Estado]) VALUES (N'IBUPROFENO', N'CARGRAL', N'AC')
GO
INSERT [dbo].[Farmaceutico] ([Matricula], [Nombre], [Apellido], [ID_Farmacia], [ID_Usuario]) VALUES (N'7451', N'Analia', N'Parrotta', N'4', N'FAR_APARROTTA')
INSERT [dbo].[Farmaceutico] ([Matricula], [Nombre], [Apellido], [ID_Farmacia], [ID_Usuario]) VALUES (N'7854', N'Lautaro', N'Basso', N'12', N'FAR_LBASSO')
GO
INSERT [dbo].[Medicamento] ([ID_Medicamento], [Descripcion], [Laboratorio], [Presentacion]) VALUES (N'RAQUIFEROL', N'Raquiferol', N'Roemmers', N'4 capsulas')
INSERT [dbo].[Medicamento] ([ID_Medicamento], [Descripcion], [Laboratorio], [Presentacion]) VALUES (N'T4_100', N'T4', N'Montpellier', N'100 capsulas')
GO
INSERT [dbo].[Medico] ([Matricula], [Nombre], [Apellido], [Especialidad], [ID_Usuario]) VALUES (N'123456', N'Juan Pablo', N'Perez', N'Cardiologia', N'med.Perez.JP')
INSERT [dbo].[Medico] ([Matricula], [Nombre], [Apellido], [Especialidad], [ID_Usuario]) VALUES (N'147852', N'Maria', N'Gutierrez', N'Endocrinologa', N'med.Gutierrez.M')
GO
INSERT [dbo].[Paciente] ([ID_GrupoSocio], [ID_Socio], [Nombre], [Apellido], [FechaNacimiento], [FechaIngreso], [Telefono], [Mail], [ID_Usuario]) VALUES (CAST(484545 AS Decimal(18, 0)), CAST(1 AS Decimal(2, 0)), N'Pedro', N'Fernandez', CAST(N'1951-02-22' AS Date), CAST(N'1994-10-15' AS Date), N'123478541', N'pfernandez@gmail.com', N'PAC_PFERNANDEZ')
INSERT [dbo].[Paciente] ([ID_GrupoSocio], [ID_Socio], [Nombre], [Apellido], [FechaNacimiento], [FechaIngreso], [Telefono], [Mail], [ID_Usuario]) VALUES (CAST(484545 AS Decimal(18, 0)), CAST(2 AS Decimal(2, 0)), N'Graciela', N'Tarantino', CAST(N'1957-10-15' AS Date), CAST(N'1994-10-15' AS Date), N'78457845', N'gtarantino@gmail.com', N'PAC_GTARANTINO')
GO
INSERT [dbo].[Paciente_Condicion] ([ID_GrupoSocio], [ID_Socio], [ID_Condicion], [Estado], [FechaDesde], [FechaHasta], [Observaciones]) VALUES (CAST(484545 AS Decimal(18, 0)), CAST(1 AS Decimal(2, 0)), N'CARGRAL', N'AC', CAST(N'2004-10-15' AS Date), CAST(N'2100-12-31' AS Date), N'2 Stends')
INSERT [dbo].[Paciente_Condicion] ([ID_GrupoSocio], [ID_Socio], [ID_Condicion], [Estado], [FechaDesde], [FechaHasta], [Observaciones]) VALUES (CAST(484545 AS Decimal(18, 0)), CAST(1 AS Decimal(2, 0)), N'HIPOTIRO', N'AC', CAST(N'2022-04-20' AS Date), CAST(N'2100-12-31' AS Date), NULL)
INSERT [dbo].[Paciente_Condicion] ([ID_GrupoSocio], [ID_Socio], [ID_Condicion], [Estado], [FechaDesde], [FechaHasta], [Observaciones]) VALUES (CAST(484545 AS Decimal(18, 0)), CAST(1 AS Decimal(2, 0)), N'VIT_D', N'AC', CAST(N'2025-04-20' AS Date), CAST(N'2026-04-20' AS Date), NULL)
GO
INSERT [dbo].[Paciente_Medicamento] ([ID_GrupoSocio], [ID_Socio], [ID_Droga], [ID_Medicamento], [FechaDesde], [FechaHasta], [Estado], [FechaVencimiento], [Cantidad]) VALUES (CAST(484545 AS Decimal(18, 0)), CAST(1 AS Decimal(2, 0)), N'COLECALCIFEROL', N'RAQUIFEROL', CAST(N'2025-04-30' AS Date), CAST(N'2025-12-30' AS Date), N'AC', CAST(N'2026-06-04' AS Date), CAST(1 AS Decimal(18, 0)))
INSERT [dbo].[Paciente_Medicamento] ([ID_GrupoSocio], [ID_Socio], [ID_Droga], [ID_Medicamento], [FechaDesde], [FechaHasta], [Estado], [FechaVencimiento], [Cantidad]) VALUES (CAST(484545 AS Decimal(18, 0)), CAST(1 AS Decimal(2, 0)), N'LEVOTIROXINA', N'T4_100', CAST(N'2022-04-30' AS Date), CAST(N'2022-08-08' AS Date), N'BA', CAST(N'2025-11-03' AS Date), CAST(1 AS Decimal(18, 0)))
INSERT [dbo].[Paciente_Medicamento] ([ID_GrupoSocio], [ID_Socio], [ID_Droga], [ID_Medicamento], [FechaDesde], [FechaHasta], [Estado], [FechaVencimiento], [Cantidad]) VALUES (CAST(484545 AS Decimal(18, 0)), CAST(1 AS Decimal(2, 0)), N'LEVOTIROXINA', N'T4_100', CAST(N'2022-08-09' AS Date), CAST(N'2022-11-16' AS Date), N'BA', CAST(N'2025-11-03' AS Date), CAST(1 AS Decimal(18, 0)))
GO
INSERT [dbo].[Usuario] ([ID_Usuario], [Password], [Tipo_Usuario]) VALUES (N'far.Basso.L', N'123456', N'FARMACEUT')
INSERT [dbo].[Usuario] ([ID_Usuario], [Password], [Tipo_Usuario]) VALUES (N'far.Parrotta.A', N'123456', N'FARMACEUT')
INSERT [dbo].[Usuario] ([ID_Usuario], [Password], [Tipo_Usuario]) VALUES (N'GTARANTINO', N'123456', N'PACIENTE')
GO
